*~
tags
tags.lock
*.o
.*.o.cmd
.*.ko.cmd
.*.ko.unsigned.cmd
*.mod.c
*.ko
.tmp_versions/
Module.symvers
cbsensor.ko.unsigned
cbsensor.mod.c
modules.order
src/kmod/Kbuild
src/kmod/version.h
.idea
build
cmake-build-debug
cmake-build-release
